In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import pandas as pd
import numpy as np

In [10]:
df1 = pd.DataFrame({
    'First Code' : [456, 123, 112, 243, 777],
    'First Alias': ['xyz','asd', 'aqw', 'acc', 'qwe'],
    'Second Code': [465, 124, 134, 234, 555],
    'Second Alias': ['zyx','asd', 'awq', 'abc', 'ewq']
})

In [11]:
df1

   First Code First Alias  Second Code Second Alias
0         456         xyz          465          zyx
1         123         asd          124          asd
2         112         aqw          134          awq

In [5]:
df2 = pd.DataFrame({
    'some_alias': ['asd', 'abc', 'aqw', 'xyz'],
    'code 1': [0, 0, 0, 0],
    'code 2': [0, 0, 0, 0]
})

In [6]:
df2

  some_alias  code 1  code 2
0        asd       0       0
1        abc       0       0
2        aqw       0       0
3        xyz       0       0

In [7]:
for index, rows in df2.iterrows():
    if(rows['some_alias'] is df1['First Alias'] or df1['First Alias']).all():
        df2.sort_index(inplace=True)
        df1.sort_index(inplace=True)
        df2[['code 1', 'code 2']] = df1[['First Code', 'Second Code']]
 
print(df2)

  some_alias  code 1  code 2
0        asd     456     465
1        abc     123     124
2        aqw     112     134
3        xyz     243     234

In [9]:
df2.loc[(df2.some_alias.isin(df1['First Alias'])) | (df2.some_alias.isin(df1['First Alias'])), ['code 1', 'code 2']] = df1[['First Code', 'Second Code']].values

KeyError: ('code 1', 'code 2')