In [7]:
import pandas as pd
import numpy as np

df1=pd.read_excel('test1.xlsx',sheet_name='Sheet1')
df1['Date Received'] = pd.to_datetime(df1['Date Received']).dt.date
 
df5 = df1.pivot_table(values='Count', columns='Date Received', aggfunc=np.sum).T
 
 
df5['Total'] = 0
df5.fillna(0,inplace=True) 
 
i=0
for x in df5.index:
    if i==0:
        df5.iloc[i]['Total'] = df5.iloc[i]['Count']
        i+=1
    else:
        if df5.iloc[i]['Count'] == 0:
            df5.iloc[i]['Total'] = df5.iloc[i-1]['Total']
            i+=1
        else:
            df5.iloc[i]['Total'] = df5.iloc[i]['Count'] + df5.iloc[i-1]['Total']
            i+=1
 
test=pd.read_excel('test1.xlsx',sheet_name='test')
test['Day'] = pd.to_datetime(test['Day']).dt.date
df5 = pd.merge(left=test,right=df5,how='left',left_on='Day',right_on=df5.index)  
df5.fillna(0,inplace=True) 
 
df5.head(10)

          Day  Days  Count  Total
0  2020-03-18     0    0.0    0.0
1  2020-03-19     1    3.0    3.0
2  2020-03-20     2    1.0    4.0
3  2020-03-21     3    2.0    6.0
4  2020-03-22     4    0.0    0.0
5  2020-03-23     5    0.0    0.0
6  2020-03-24     6    1.0    7.0
7  2020-03-25     7    2.0    9.0
8  2020-03-26     8    0.0    0.0
9  2020-03-27     9    0.0    0.0